# Pandas for Data Analysis

[**Pandas**](https://pandas.pydata.org/) is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

We will first introduce some core aspects of pandas using toy data, and then analyse a real data set. First, we should import the pandas package - by convention we give it a shorthand name using `as`. When we want to use the package, we can type `pd.` instead of `pandas.`. 

#### Useful links
* [Data Wrangling cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Python For Data Science cheat sheet](https://www.utc.fr/~jlaforet/Suppl/python-cheatsheets.pdf)

### Creating and Reading Data

Two core objects in pandas: **Series** and **DataFrame**.

[**Series**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) is a one-dimensional (1d) *list* of values. It has a corresponding list of *index* and (possibly) a *name*.

In [ ]:
pd.Series([3780, 4120, 4750], index=[2020,2021,2022], name='sales')

[**DataFrame**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame) is a two-dimensional (2d) *table* of values. Each row is a "record" having its *index* and each column is a **Series** having its (column) *name*.

In [ ]:
df = pd.DataFrame({'date': pd.date_range('31/05/2022', periods=5, freq='ME'), # freq='ME' means month end frequency
                   'sales': [300.12, 313.28, 330.64, 347.59, 352.11],
                   'department': 'domestic'})
df

**Checking the DataFrame index**

- The index is how Pandas labels and organizes the rows in your DataFrame.
- Knowing the index is important because it tells you how you can access, align, or join your data.

**Setting a column as the index**
- Makes it easier to work with time series data, since dates are now row labels.

**We can also reset the index**

**Checking the Datafram columns**
- Lists all column labels in the DataFrame.
- Useful for quickly checking the structure of your dataset.

### Exercise

1. Create a dataframe called sales that matches the diagram below

| week       | electronics_sales | furniture_sales |
|------------|-------------------|-----------------|
| 2022-06-05 | 120               | 85              |
| 2022-06-12 | 135               | 90              |
| 2022-06-19 | 128               | 88              |
| 2022-06-26 | 150               | 95              |

2. Display the sales dataframe
3. Set the `week` column as index

More often, DataFrames are created from data files, like **CSV (comma-separated values)** files, using [`pd.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function.

**Let's import our first dataframe**

### Viewing, Selecting, Assigning & Missing Data

### Selecting Data

Also called **indexing**, it is the most common operation in Pandas. We discuss 4 cases selecting data from a DataFrame:
1. Selecting one **column** (as a Series)
2. Selecting by **label**
3. Selecting by **position**
4. Selecting by **conditions**

We will practice with the wine review DataFrame.

**1. Selecting a column**

**2. Selecting by label**

Here "label" means the "row names" `index` and the "column names" `columns`.

Use `loc[]` to access part of the DataFrame by row and column **labels**. Note the `[]` instead of `()`.

We can use `:` inside `.loc[]` to access either all rows for a given column(s)

We can rearrange our `.loc[]` to obtain all columns for specif range of rows too!

We can use the `:` inside `.loc[]` to obtain a range from a specific point until the end of the dataframe

**3. Selecting by position**

Here "position" means the *numerical location*, i.e., row number and column number (both start from 0 per Python convention), in the DataFrame.

Use `iloc[]` to access part of the DataFrame by row and column numbers. Note the `[]` instead of `()`.

**4. Selecting by conditions**

This is also called **boolean indexing**, usually used to select *rows* satisfying certain conditions.

How can we satisfy more than one condition?

We still need `[]` as we are passing a list of labels or conditions.

We can seprate our conditions using the `&`.

We will also need wrap our conditions using `()` due to precedence.

In python `==` have a higher precedence than bitwise operators like `&`.

So we need any `==` to be evaluated first and then combined.

We can also satisfy 2 conditions within a column using `.isin()` and passing it a list

Missing values can also be considered as conditions

#### Missing Data

Detect missing data `np.nan`:

Filling in missing data

Drop missing data

#### Exercise

Create a "sub"-DataFrame from `reviews` that contains the `country`, `province`, `region_1` and `region_2` columns with index labels `10`, `750` and `1200`.

Create a "sub"-DataFrame from `reviews` that contains all reviews with at least 95 points for wines from oceanian countries (Australia and New Zealand).

### Summary Functions

Summary functions allow us to quickly describe and understand a dataset by computing key statistics. Common examples include `.mean()`, `.median()`, `.min()`, `.max()`, and `.sum()` for numerical data, as well as `.value_counts()` for categorical data. These functions can be applied to entire DataFrames or specific columns, giving us insights such as average values, distributions, and totals. Using `.describe()` provides a convenient overview of multiple summary statistics at once.

For numerical columns, we can obtain the mean, median, min, max and sum

Useful for obtaining quick statistics

## All Done!